<h3>Contact Us</h3>

<div class="row">
  <div class="col s12 m5">
    <div class="card-panel" id="map-styles">
      <span class="white-text">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9531.35973506265!2d-111.89897027928178!3d40.76063474291261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87523d9488d131ed%3A0x5b53b7a0484d31ca!2sSalt+Lake+City%2C+UT!5e0!3m2!1sen!2sus!4v1514914068236" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
      </span>
    </div>
  </div>
</div>